/* kleuren van licht naar donker: #f0e3ff #d89cf6 #916dd5 #3e206d */

h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat-Black', sans-serif;
  color: #3e206d;
  font-weight: bold;
  padding: 8px;
}

body {
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 768px) {
  .NietAf {
    position: relative;
    width: 100%
  }
}

.afbeeldingen{
  width: 90%;
}

.rond{
  border-radius: 100%;
  width: 150px;
}

.Inhoud {
  padding-left: 15%;
  padding-right: 15%;
}

.Title{
  background-image: radial-gradient(circle, #916dd5 0%, #f0e3ff 100%);
  color:#fff;;
}
.Slot, .Call-to-action {
  background-color: #916dd5;
  color:#fff;
}

.Call-to-action {
  padding-top: 3%;
}

.Nadruk{
  color:#fff;
}

.NietAf{
  opacity: 0.5;
  position: absolute;
}

@media screen and (max-width: 768px) {
  .NietAf {
    position: relative;
    width: 100%
  }
}

.Intro, .Verdieping, .Vragenlijst, .Spel{
  background-color: #fff;
  padding-top: 5%;
  padding-bottom: 5%;
}

.Voorstel, .Fotovergelijker{
  background-color: #d89cf6;
  padding-top: 5%;
  padding-bottom: 5%;
}

/* Title stuk */
.Title{
  padding-top: 3%;
  padding-bottom: 5%;
  text-align: center;
}

.Creatieve-tekst {
  font-family: "Lemonada", serif;
  color: #fff;
  padding-top: 40px;
  transform: rotate(-11deg);
  display: inline-block;
  white-space: pre;
}

.constructie{
  color:red;
  transform: rotate(20deg);
  position: absolute;
  opacity: 0.8;
  font-size: 5rem;
  font-weight: bold;
}

.verborgen{
  display: none;
}

@media screen and (max-width: 768px) {
  .verborgen{
    display: inline-block;
    z-index: 1;
  }
}
@media screen and (max-width: 768px) {
  .actief{
    display: none;
  }
}

/* Intro stuk */

/* Voorstel stuk */
.Voorstellen{
  text-align: center;
}

/* Verdieping stuk */

/* Call-to-action stuk */
.Call-to-action{
  text-align: center;
}

.contact-btn{
  margin: 5% 3% 5% 0;
}

/* Vragenlijst stuk */

/* Fotovergelijker stuk */

/* Spel stuk */

/* Slot stuk */
.Slot{
  padding-top: 2%;
  padding-bottom: 1%;
  text-align: center;
}

.paars{
  color: #3e206d
}

.linkje{
  color: white;
}

.Copyright{
  color: black;
  padding-top: 5px;
  font-size: 0.6rem;
}
